<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css">
    <title>tutubedl</title>
  </head>
  <body class="text-white bg-black font-bold">
    <main id="app" class="flex flex-col">
      <form @submit.prevent="list()" name="form" class="inline-flex my-2">
        <a @mouseover="gitover=true" @mouseleave="gitover=false" href="https://github.com/mirsella/tutubedl" target="_blank" class="m-auto mx-1">
          <img v-if="!gitover" src="github.png" alt="github" class="w-12">
          <img v-if="gitover" src="github-face.png" alt="github" class="w-12">
        </a>
        <input type="text" v-model="url" placeholder="youtube url" class="bg-gradient-to-r from-pink-600 to-purple-600 md:text-lg p-2 h-10 text-base w-full leading-normal rounded-l-lg placeholder-current focus:outline-none">
        <button class="inline-flex justify-center mx-1 focus:outline-none">
          <span class="md:text-lg text-sm px-4 py-2 md:w-48 w-32 h-10 rounded-r-lg bg-gradient-to-r from-purple-600 to-purple-900 hover:from-purple-700">
            <svg v-if="loading.get" class="inline-flex w-5 h-4 mr-3 mb-1 text-white animate-spin" fill="none" viewBox="0 0 24 24">
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
            <span :class="{ hidden: this.loading.get }" class="md:inline-block">get video(s) list</span>
          </span>
        </button>
      </form>
      <h1 v-if="err" class="m-10 text-red-700 place-self-center">{{err}}</h1>
      <div v-if="videos.length > 1" class="self-center m-5">
        <div class="rounded-t-lg p-1 mb-2 text-center bg-gradient-to-r from-pink-500 via-pink-600 to-purple-700">
        download all :
        </div>
        <button @click="downloadall('audio')" class="bg-gradient-to-r from-pink-500 to-pink-600 px-8 py-2 text-white bg-purple-700 rounded-b-lg focus:outline-none place-self-center">
          audio
        </button>
        <button @click="downloadall('video')" class="bg-gradient-to-r from-pink-600 to-purple-700 px-8 py-2 text-white bg-purple-700 rounded-b-lg focus:outline-none place-self-center">
          video
        </button>
        <svg v-if="loading.all" class="inline-block w-5 h-4 animate-spin place-self-center ml-2" fill="none" viewBox="0 0 24 24">
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
      </div>
      <div v-for="(video, index) in videos">
        <div class="lg:flex block items-center m-10">
          <iframe class="m-2 md:m-5 md:w-4/12 w-42" :src="'https://youtube.com/embed/'+video.id" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div>
            <div class="md:text-left text-center m-3">
              <button @click="onedownload(video, 'audio', index)" class="bg-gradient-to-r from-pink-500 to-pink-600 text-center focus:outline-none bg-purple-700 rounded-l-lg px-4 py-2 hover:bg-purple-800 text-white" target="_blank">
                audio
              </button>
              <button @click="onedownload(video, 'video', index)" class="bg-gradient-to-r from-pink-600 to-purple-700 text-center focus:outline-none bg-purple-700 rounded-r-lg px-4 py-2 hover:bg-purple-800 text-white" target="_blank">
                video
              </button>
              <svg v-if="loading.single[index]" class="inline-block h-4 text-white animate-spin ml-2" fill="none" viewBox="0 0 24 24">
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
              </svg>
            </div>
            <span class="m-2 bg-clip-text text-transparent bg-gradient-to-r from-pink-500 via-pink-600 to-purple-700">{{video.title}}</span>
            <span class="block m-2 bg-clip-text text-transparent bg-gradient-to-r from-pink-500 via-pink-600 to-purple-700">{{video.duration}}</span>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script src="https://unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
  <script src="app.js"></script>
  <script src="https://unpkg.com/downloadjs"></script>
</html>
